<h1> Galeria de Imagenes </h1>

<div id="contenido_galeria">
	<div id="slidebar_div" class="fondo_slidebar">
		<div id="slidebar">
			<a  class="flechader" title=""><img id="f_i" src="/img/arrow_left.png"alt="" height="45" widht="45"/></a>
			<div id="thumb">
				<a id="imagen1" ><img class="marg" title="Talavera de la Reina" src="/img/1.jpg"alt="" height="96" width="128"/></a>
				<a id="imagen2" ><img class="marg" title="Toledo" src="/img/2.jpg"alt="" height="96" width="128" /></a>
				<a id="imagen3" ><img class="marg" title="Ávila" src="/img/3.jpg"alt="" height="96" width="128" /></a>
				<a id="imagen4" ><img class="marg" title="Sevilla" src="/img/4.jpg"alt="" height="96" width="128" /></a>
				<a id="imagen10" ><img class="marg" title="Madrid" src="/img/10.jpg"alt="" height="96" width="128"/></a>
				<a id="imagen6" ><img class="marg" title="Segovia" src="/img/6.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen11" ><img class="marg" title="Oviedo" src="/img/11.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen8" ><img class="marg" title="Zaragoza" src="/img/8.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen12" ><img class="marg" title="Huesca" src="/img/12.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen13" ><img class="marg" title="Salamanca" src="/img/13.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen14" ><img class="marg" title="Málaga" src="/img/14.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen15" ><img class="marg" title="Ciudad Real" src="/img/15.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen16" ><img class="marg" title="Castellón" src="/img/16.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen17" ><img class="marg" title="Barcelona" src="/img/17.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen18" ><img class="marg" title="Gerona" src="/img/18.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen19" ><img class="marg" title="Santander" src="/img/19.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen20" ><img class="marg" title="Bilbao" src="/img/20.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen21" ><img class="marg" title="San Sebastián" src="/img/21.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen22" ><img class="marg" title="Jaén" src="/img/22.jpg"alt="" height="96" width="128"/></a>
	   			<a id="imagen23" ><img class="marg" title="Tenerife" src="/img/23.jpg"alt="" height="96" width="128"/></a>
			</div>
			<a  class="fechaizq" title=""><img id="f_d" src="/img/arrow_right.png"alt="" height="45" widht="45"/></a>
		</div>
	</div>
	<div class="muestra">
		<div id="zoom">
			<a id="zoom_img" title=""><img class="maxi" src="/img/1.jpg"alt="" height="288" width="384"/></a>
		</div>
	</div>
</div>
